.vscode/

/.idea/

/__pycache__/

*.txt

!requirements.txt

train_and_test/test_qp.py

*.cpp

CMakeLists.txt

example.py

*.save

/data/

/plot_code/

/plots/

/good_data/

/data_from_supercloud/

/supercloud_data/

/build/

/myScript_data/

/log_files/

/train_and_test/plot_from_log_all_faults.py

/train_and_test/plot_from_text.py

/train_and_test/plot_train_log.py

sept*

*.pt
*.py[cod]

git_run.sh

*.sh

.git_run

.gitignore