.vscode/

/.idea/

/__pycache__/

*.txt

!requirements.txt

train_and_test/test_qp.py

*.cpp

CMakeLists.txt

example.py

*.save

/data/

/plots/

/good_data/

/build/

/myScript_data/

sept*

*.pt
*.py[cod]

git_run.sh

*.sh

.git_run

.gitignore